@import "../Abstracts/mixins";
@import "../Config/variables";

.header {
  height: 4rem;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $header-background;
  padding: 0 5rem;
  font-family: "Roboto", sans-serif;
  position: fixed;
  z-index: 100;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);

  @include flexbox($justify-content: space-between, $align-items: center);

  &__list {
    column-gap: 1rem;
    @include flexbox();
  }

  &__item {
    transition: 0.3s all;
    letter-spacing: 0.8px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__logo {
    color: #ffff;
    font-size: 2.5rem;
    letter-spacing: 1px;
    transition: 0.3s all;
    cursor: pointer;
    font-weight: 700;

    &:hover {
      letter-spacing: 5px;
    }
  }

  &__text {
    cursor: pointer;
    font-size: 1.2rem;
    color: #ffff;
    font-family: 'Poppins', sans-serif;

  }

  &__login {
    color: $home-color;
    white-space: nowrap;
  }

  &__burger {
    display: none;

  }

  @media screen and (max-width: $medium-screen) {
    & {
      padding: 0 2rem;

      &__item{
        width: 100%;
        @include flexbox($justify-content: center, $align-items: flex-start);
      
      }
    }

    &__logo {
      font-size: 2.5rem;
    }
  }
  

  @media screen and (max-width: $small-screen) {
    &__burger {
      display: block;
      width: 30px;
      &-line{
        background: $white;
        height: 4px;
        margin: .4rem 0;
        border-radius: 10px;
        transition: all .5s ease;
      }

      &-line--1{
        width: 50%;
      }
  
      &-line--2{
        width: 100%;
      }
  
      &-line--3{
        width: 75%;
      }

      &-line--animation &-line--1{
        transform-origin:bottom;
        transform:rotatez(45deg) translate(5px,0px)
      }

      &-line--animation &-line--2{
        transform-origin:top;
        transform:rotatez(-45deg)
      }
      
      &-line--animation &-line--3{
        transform-origin:bottom;
        width:50%;
        transform: translate(14px,-5.5px) rotatez(45deg);
      }
    }

    &__list {
      position: absolute;
      top: 4rem;
      right: 0;
      width: 100%;
      height: calc(100vh - 4rem);
      background-color: $header-background;
      @include flexbox(
        $direction: column,
        $justify-content: flex-start,
        $align-items: center
      );
      transition: transform 0.3s ease-in;
      transform: translateX(100%);
      
      &--responsive {
        transform: translateX(0%);
      }
    }

    &__item{
      margin: 3rem 0 0 0;
      &--animation{
        $itemCount: 4;
        $animationSpeed: 4;
        @for $i from 1 through $itemCount {
          &:nth-of-type(#{$i}) {
            $step: $i/$animationSpeed;
            animation: navlinkFade $step + s ease;
          }
        }
      }

    }

    @keyframes navlinkFade {
      0% {
        opacity: 0;
        transform: translateX(300px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

