.home{
    min-height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;

    &__container{
        row-gap: 1rem;
    }

    &__data{
    }

    &__img{
        width: 275px;
        justify-self: center;
        transform: scaleX(-1);
    }


    &__title{
        color: $home-color;
        font-size: $biggest-font-size;
        letter-spacing: 1px;
        margin-bottom: .75rem;
    }

    &__description{
        color: $white;
        font-size: $small-font-size;
        line-height: 1.5rem;
        margin-bottom: .75rem;
        font-family: 'Poppins', sans-serif;
    }

    &__button{
        display: inline-block;
        padding: .75rem 1.5rem;
        border-radius: 3rem;
        color: $white;
        background-color: $home-color;
        font-weight: $font-semi-bold;
        letter-spacing: 2px;
        transition: .5s transform;

        &:hover{
            transform: translateY(-.5rem);
        }
    }


}

.section{
    padding: 5.5rem 0 2rem;
}