.game {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &__container {
    min-height: 100vh;
    padding-top: 2rem;
    @include flexbox($direction: column, $justify-content: flex-start);
  }

  &__header {

    width: 100%;

    &-list {
      background-color: $first-color;
      @include flexbox($justify-content: space-around);
      column-gap: 2rem;
      padding: 0.6rem;
      border-radius: 0.5rem;
    }

    &-item {
      color: $white;
      font-size: $normal-font-size;
      font-weight: $font-bold;
      letter-spacing: 1px;
    }
  }

  &__chat {
    background-color: $first-color;
    border-radius: 0.5rem;

  }
}
