.game {
  &__container {
    min-height: 100vh;
    padding-top: 1rem;
    @include flexbox($direction: column, $justify-content: flex-start);
    row-gap: 0.3rem;
  }

  &__header {
    width: 100%;

    &-list {
      background-color: $first-color;
      border-radius: 1rem 1rem 0.1rem 0.1rem;
      grid-template-columns: repeat(3, 1fr);
    }

    &-item {
      color: $background-color;
      font-size: $small-font-size;
      font-weight: $font-bold;
      letter-spacing: 1px;
      line-height: 2.5rem;
      text-align: center;
      cursor: pointer;
    }
  }

  &__body {
    @include flexbox($direction: column, $justify-content: flex-start);
    background-color: $first-color;
    width: 100%;
    height: 65vh;
    border-radius: 0.1rem;
    padding: 2rem 1rem 0 1rem;
    overflow-y: scroll;
  }

  &__chat {
    @include flexbox($justify-content: flex-start, $align-items: flex-start);
    width: 100%;
    column-gap: 0.5rem;
    color: $background-color;
    margin-bottom: 0.5rem;

    &-user {
      text-transform: capitalize;
      font-weight: $font-bold;
      padding: 0.3rem;
      border-radius: 0.3rem;
      background-color: #f98e68;
      white-space: nowrap;
    }

    &-message{
      font-weight: $font-semi-bold;
    }
  }
  &__footer {
    height: 2.5rem;
    width: 100%;
    border-radius: 0.1rem 0.1rem 1rem 1rem;
    padding: 0.5rem 0.5rem;
    background-color: $first-color;
    @include flexbox($direction: row, $justify-content: flex-start);
    position: relative;

    &-input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding-left: 1rem;
      display: block;
      background-color: transparent;
      font-weight: $font-semi-bold;

      &::placeholder {
        color: $background-color;
        letter-spacing: 0.8px;
        font-weight: $font-bold;
        padding-left: 0.3rem;
      }
    }

    &-icon {
      position: absolute;
      color: $background-color;
      right: 0;
      margin-right: 1.5rem;
    }
  }
}
