$small: 575px;
$medium: 767px;
$large: 991px;
$x-large: 1199px;
$xx-large: 1400px;


//colors
$white: #ffff;
$header-background: rgba(122, 95, 232, 0.5);
$register-color: #BA5922;
$login-color: #20AFB8;
