// Flexbox display
@mixin flexbox($direction: row, $justify-content: flex-start, $align-items: flex-start) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
