// X-Small Devices
@media screen and (max-width: $small-screen) {
  .home {
    &__container {
      row-gap: 5rem;
    }

    &__description {
      font-size: $small-font-size;
    }
  }
}

// Small Devices
@media screen and (min-width: $small-screen) {
  .section {
    padding: 7.5rem 0 2rem;

    &__img {
      width: 100%;
    }
  }

  .home {
    &__img {
      &--order {
        order: 1;
      }
    }

    &__row {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
}

// Medium Devices
@media screen and (min-width: $medium-screen) {
  .section {
    padding: 6.5rem 0 2rem;
  }
}

// Large Devices
@media screen and (min-width: $large-screen) {

}

// X-Large Devices
@media screen and (min-width: $x-large-screen) {
  .container {
    margin: 0 auto;
  }

  .grid {
    gap: 2rem;
  }
}
