// Screens
$smaller-screen: 360px;
$small-screen: 576px;
$medium-screen: 767px;
$large-screen: 968px;
$x-large-screen: 1200px;
$xx-large-screen: 1400px;


// Colors
$error-color: #cc0000;
$first-color: #EE5A24;
$second-color: #00b894;
$white: #ffff;
$header-background: #1e272e;
$background-color: #1e272e;
$register-color: #BA5922;
$login-color: #00b894;
$title-color: #EE5A24;
$chat-background-color: #ee7738;
$chat-font-color: #d6d4d4;
$message-background-color: #4C3F91;
$footer-background-color: #1e272e;



// Typography
$mega-font-size: 3.5rem;
$biggest-font-size: 2rem;
$big-font-size: 1.4rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;


$font-semi-bold: 600;
$font-bold: 700;


