.app{
    width: 100%;
    background-color: #1e272e;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    box-sizing: border-box;

}