// Reusable Classes

.section{
    padding: 4.5rem 0 1rem;
    font-family: 'Poppins', sans-serif;

    .section__img {
        width: 100%;
      }
}

.container{
    max-width: 1200px;
    margin: 0 1.5rem;
}

.grid{
    display: grid;
    gap: 1rem;
}

.main{
    overflow: hidden;
}

.order{
    order: 1;
}

